body {
    background-color: black;
}

#colorBox {
    width: 300px;
    height: 300px;
    background-color: grey; /* Initial color */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    text-align: center;
    border: 2px solid black;
    transition: background-color 0.3s ease; /* Smooth color transition */
    margin: 50px;