@font-face {
    font-family: 'DreamerTM';
    src: url(./DreamerTM-Regular.ttf) format('');
}
body {
    background-color: black; 
}
h1 {
    font-family: "DreamerTM", BonBon;
    font-size: 250px;
    color: ghostwhite;
    text-align: center;
margin:auto;}
h2 {
    font-family: "DreamerTM", BonBon;
    font-size: 10px;
    color: ghostwhite;
    text-align: center;
}
p {
    color: white;
    text-align: center;
    margin: auto;
    margin-left: 20%;
    margin-right: 20%;
}

p2 {
    color: white;
    text-align: center;
    margin: auto;
}

a{
    color: white;
    text-align: center;
    margin: auto;
}

