body {
    background-color: black;
}

.home {
    
    left: 50%;
    background-color: transparent;
    font-family: "Courier New", monospace; 
    color: white;
    border-style: none;
}

.try {
    position: absolute;
    top: 650px;
    left: 50%;
    background-color: transparent;
    font-family: "Courier New", monospace; 
    color: white;
    border-style: none;

}