body {
    background-color: black;
}

button {
    position: absolute;
    top: 400px;
    left: 50%;
    background-color: transparent;
    font-family: "Courier New", monospace; 
    color: white;
    border-style: none;

}